#form {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.divCounter {
  background-color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0%;
}

.quantity {
  text-align: center;
}
