.navLink {
    color: rgb(243, 205, 243);
    background-color: rgba(1, 1, 20, 0.192);
    border-radius: 3px;
    padding: 1% ;
    margin: 1%;

}

.navBar{
    background-color: rgb(29, 29, 29);
    padding: 1%;
    margin: 1%;
    border-radius: 3px;
  
}

.option {
    padding: 1%;
    margin: 1%;
    color: rgb(253, 253, 219);
  
}